@mixin flexRowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

