/* ---------------------- IMPORTS --------------------------- */

@import 'defaults.scss';
@import 'colors.scss';
@import 'mixins.scss';

/* ---------------------------------------------------------- */

.location-error {
    background: $red;
    color: $white;
    padding: 25px 35px;
    border-radius: $sm-radius;
    box-shadow: 5px 5px 10px rgba($red, 0.7);
    margin: 50px 20px;

    p {
        margin-bottom: 5px;
   
        &::before {
            content: '• ';
        }
    }

    button {
        margin-top: 20px;
        background-color: rgba($white, 0.3);
        border: none;
        color: $white;
        padding: 10px 15px;
        border-radius: $sm-radius;
        cursor: pointer;

        &:active {
            background-color: rgba($white, 0.2);
            scale: 0.95;
        }
    }   
}

.flex-container {
    @include flexColCenter;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    padding: 50px 20px;
    
    .location {
        margin-bottom: 20px;
    }
    
    .banner {
        background-color: $grey300;
        width: 100%;
        padding: 25px 25px;
        border-radius: $sm-radius;
        color: $grey900;
    
        @include flexColCenter;
    
        &__current {
            @include flexRowCenter;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: 20px;
            font-size: 42px;
            gap: 50px;
    
            .current-temp {
                width: 100px;
                height: 100px;
                display: grid;
                place-items: center;
            }
            vseperator {
                height: 25%;
                width: 1px;
                background-color: $grey900;
                opacity: 0.3;
            }
        }
    
        &__hilo {
            @include flexRowCenter;
            gap: 20px;
            width: 100%;
            font-size: 14px;
            margin-bottom: 10px;
        }
    
        .current-desc {
            font-size: 12px;
        }
    }

    .more-info {
        background-color: $grey900;
        color: $grey300;
        font-size: 14px;
        margin-top: -10px;

        @include flexRowCenter;
        gap: 20px;
        padding: 8px 20px;
        border-radius: 25px;


        .row {
            @include flexRowCenter;
            gap: 5px;

            img {
                width: auto;
                height: 13px;
            }
        }
    }
}





