/* ---------------------- IMPORTS --------------------------- */

@import 'defaults.scss';
@import 'colors.scss';
@import 'mixins.scss';

/* ---------------------------------------------------------- */

.main-section {
    height: 50vh;
    width: 100vw;
    @include flexColCenter;
    gap: 50px;

    .location-info {
        @include flexColCenter;
        gap: 10px;

        .location {
            font-size: 28px;
            opacity: 0.6;
        }

        .weather-desc {
            text-transform: capitalize;
        }
    }

    .current-weather {
        @include flexRowCenter;
        gap: 20px;
        
        .degree-section {
            display: flex;

            .weather-temp {
                font-size: 72px;
                font-weight: 300;
            }

            span {
                font-size: 28px;
            }
        }

        vseperator {
            width: 1px; 
            height: 75%;
            background-color: $black;
            opacity: 0.3;
        }
    }

    .more-info {
        @include flexColCenter;
        gap: 10px;
        
        h3 {
            opacity: 0.5;
            font-weight: 300;
            margin-bottom: 20px;
        }
        
        .row {
            display: flex;
            gap: 30px;
        }
    }
}



