@charset "UTF-8";
/* ---------------------- IMPORTS --------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  height: 95vh;
}

button {
  font-size: inherit;
}

.hidden {
  display: none !important;
}

/* ---------------------------------------------------------- */
.location-error {
  background: #e64646;
  color: #ececec;
  padding: 25px 35px;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px rgba(230, 70, 70, 0.7);
          box-shadow: 5px 5px 10px rgba(230, 70, 70, 0.7);
  margin: 50px 20px;
}

.location-error p {
  margin-bottom: 5px;
}

.location-error p::before {
  content: '• ';
}

.location-error button {
  margin-top: 20px;
  background-color: rgba(236, 236, 236, 0.3);
  border: none;
  color: #ececec;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.location-error button:active {
  background-color: rgba(236, 236, 236, 0.2);
  scale: 0.95;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .flex-container {
    padding: 50px 25%;
  }
}

.flex-container .current-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.flex-container .current-container .location {
  margin-bottom: 20px;
}

.flex-container .current-container .banner {
  background-color: #E2E2E2;
  width: 100%;
  padding: 25px 25px;
  border-radius: 8px;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container .current-container .banner__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  font-size: 42px;
  gap: 50px;
}

.flex-container .current-container .banner__current .current-temp {
  width: 100px;
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.flex-container .current-container .banner__current .vseperator {
  height: 25px;
  width: 1px;
  background-color: #292929;
  opacity: 0.4;
}

.flex-container .current-container .banner__current .current-icon {
  height: 100px;
  width: auto;
}

.flex-container .current-container .banner__hilo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

.flex-container .current-container .banner .current-desc {
  font-size: 12px;
}

.flex-container .current-container .more-info {
  background-color: #292929;
  color: #E2E2E2;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 20px;
  border-radius: 25px;
}

.flex-container .current-container .more-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  padding-right: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-container .current-container .more-info li:last-child {
  margin-right: 0px;
  border-right: none;
}

.flex-container .current-container .more-info li img {
  width: auto;
  height: 13px;
  margin-right: 5px;
}

.flex-container .daily-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #E2E2E2;
  padding: 30px 30px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.flex-container .daily-container h3 {
  margin-bottom: 30px;
  font-size: 18px;
}

.flex-container .daily-container ul {
  width: 100%;
}

.flex-container .daily-container ul li {
  font-size: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
}

.flex-container .daily-container ul li:last-child {
  margin-bottom: 0px;
}

.flex-container .daily-container ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container .daily-container ul li div img {
  height: 35px;
  width: auto;
}
/*# sourceMappingURL=styles.css.map */